* {
  box-sizing: border-box;
  text-align: center;
}

.clearfix::after {
  clear: both;
  content: "";
  display: block;

}

 body {
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 100%;
    font-size: 18px;
    text-align: center;
 }

header, nav, section, footer {

        background-color: #fff;
        color: #ebebeb;
        border: 15px;
        padding: 20px;
        margin: 20px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

  }

  header, nav, footer {
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 20px;

  }

  article {
      color: #ebebeb;
      background-color: #777;
      box-sizing: border-box;
      padding: 20px 15px 10px 15px;
      margin: 25px 10px 10px 10px;
      width: auto;
      float: left;
      text-align: center;
  }

  p, h1 {
    text-align: center;
    background: white;
    margin: 20px 10px;
    padding-left: 20px;
    width:100%;
  }

  section{
    width: 62%;
    float: left;
    margin-bottom: 20px;
  }

aside{
  float: right;
  margin-bottom: 20px;
  width: 33%;
  margin-top: 20px;
  height: 388px;
  background-color: #fff;
  color: #ebebeb;
  padding-right: 20px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}
  
.wrapper{
margin: auto;
width: 960px;
}